useDynLib(RGMM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,dmvnorm)
importFrom(parallel,detectCores)
importFrom(foreach,foreach)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(doParallel,registerDoParallel)
importFrom(stats,rnorm)
importFrom(stats,rt)
importFrom(stats,runif)
importFrom(stats,rchisq)
export(RobMM)
export(Gen_MM)
export(RobVar)
